@using ProjetoEureka.Models;
@model ProjetoEureka.Models.Noticia;

@{
    
    var noticias = new List<Noticia>();
    noticias = ViewBag.ListaNoticia;

       ViewData["Title"] = "Home Page";
} 
@Model
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 correct">
                    <div class="c-blog__heading style-2 font-heading">
                        <h4>
                            <i class="ion-ios-flame"></i>
                            MAIS POPULARES
                        </h4>
                    </div>
                </div>
                <div class="container card-columns">
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="http://eurekanimes.net/images/capa/91571.jpg" alt="Card image cap">
                        <div class="card-body">
                            Full Metal Alchemist
                        </div>
                    </div>
                    <div class="card" style="width: 10rem;">
                        <img class="card-img-top" src="http://eurekanimes.net/images/capa/91571.jpg" alt="Card image cap">
                        <div class="card-body">
                            Full Metal Alchemist
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 correct">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="c-blog__heading style-2 font-heading correct-text">
                                <h4>
                                    <i class="ion-ios-star"></i>
                                    ÚLTIMAS NOTÍCIAS
                                </h4>
                            </div>
                            <div class="card-columns">
                                @foreach (var item in noticias)
                                {
                                    <div class="card">
                                        <div class="card-my-image">
                                            <img class="card-img-top" src="http://eurekanimes.net/modules/mod_news_pro_gk5/cache/noticias.ni_no_kuni_filmensp-139.jpg" alt="Card image cap">
                                        </div>
                                        
                                        <div class="card-body">
<<<<<<< HEAD
                                            <h5 class="card-title">@Html.ActionLink(item.Titulo, "Index", "Noticia", new { id = item.Id, titulo = item.Titulo})</h5>
                                            <small class="text-muted">Categoria: @item._Categoria.Nome | @item.Data_Criacao | Acessos: 200</small>
=======
                                            <h5 class="card-title titulos">@Html.ActionLink(item.Titulo, "Index", "Noticia", new { id = item.Id, titulo = item.Titulo })</h5>
                                            <small class="text-muted">Cat | @item.Data_criacao | Acessos: 200</small>
>>>>>>> 563f06276b322c371061c98c09bfcc91353360c2
                                            <p class="card-text">@item.Descricao</p>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <!--Separador de conteudo-->
                <div class="col-lg-3 correct">
                    <h5 class="widget-heading">Teste</h5>

                    <h5 class="widget-heading">Temporada Atual</h5>

                    <h5 class="widget-heading">Facebook</h5>

                    <h5 class="widget-heading">Parceiros</h5>
                </div>
            </div>
        </div>
</div>